* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --neutral-blue-200: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --neutral-blue-850: hsl(228, 56%, 26%);
    --neutral-blue-950: hsl(229, 57%, 11%);

    --font-family: "Raleway", sans-serif;
}

body {
    font-size: 14px;
    background-color: var(--neutral-blue-950);
    font-family: var(--font-family);
    color: var(--neutral-blue-200);
}

p {
    font-size: inherit;
}