@import "global.css";

main {
    height: 100dvh;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.background-image {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    z-index: -1;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    padding: 40px;
    gap: 30px;
}

.fylo-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    width: 350px;
    height: 200px;
    border-radius: 10px;
    border-top-right-radius: 100px;
    background-color: var(--neutral-blue-850);
}

.logo-fylo {
    width: 140px;
    height: 60px;
    cursor: pointer;
}

.components-fylo {
    display: flex;
    gap: 16px;
}

.components-fylo div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral-blue-950);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.upload-box {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 500px;
    height: 150px;
    border-radius: 10px;
    background-color: var(--neutral-blue-850);
    transform: translateY(25px);
    padding: 40px;
}

.uploading input {
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  height: 12px;
  border-radius: 40px;
  background: hsl(229, 57%, 11%); /* fundo (borda) */
  padding: 3px;
  outline: none;
  height: 16px;
}

/* Chrome, Edge */
.uploading input::-webkit-slider-runnable-track {
  height: 10px;
  border-radius: 40px;
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%)) no-repeat;
  background-size: 80% 100%; /* controla quanto do gradiente aparece (80% = valor atual) */
  background-color: hsl(229, 57%, 11%); /* resto do trilho */
}


.uploading input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

.uploading input::-moz-range-track {
  height: 10px;
  border-radius: 40px;
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%)) no-repeat;
  background-size: 80% 100%; /* controla quanto do gradiente aparece (80% = valor atual) */
  background-color: hsl(229, 57%, 11%); /* resto do trilho */
}

.uploading input::-moz-range-progress {
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%)) no-repeat;
  background-size: 80% 100%; /* controla quanto do gradiente aparece (80% = valor atual) */
  background-color: hsl(229, 57%, 11%); /* resto do trilho */
  height: 10px;
  border-radius: 40px;
}

.upload-box span {
    font-weight: bold;
}

.uploading-information {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
